main {
    padding: 0;
}



section.main-photo {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/main-image-blur.jpg);
    background-size: cover;
    background-attachment: fixed;
}

section.main-photo>h1 {

    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--primary-color);
    color: whitesmoke;
    padding: 10px;
    border-radius: 25px;
    width: fit-content;

}

section.main-photo>h1.welcome {
    position: absolute;
    top: 70px;
    text-align: center;
    background-color: rgba(255, 228, 196, 0.375);
    backdrop-filter: blur(5px);
}

section.main-photo>h1.discover {
    position: sticky;
    top: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 228, 196, 0.375);
    backdrop-filter: blur(5px);
    cursor: pointer;
}

section.main-photo>h1.discover:hover {
    background-color: var(--primary-color);
    color: white;
}

h1.discover>a {
    text-decoration: none;
}

h1.discover>a:hover {
    text-decoration: underline;
}

h1.discover>a:visited {
    color: white;
}



@keyframes more-animation {
    from {
        margin-top: 0px;
    }

    to {
        margin-top: 5px;
    }

}

h1.discover>.more-symbol {
    border-radius: 100%;
    padding: 4px;
    width: fit-content;
    color: white;
    animation: more-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

h1.discover>.more-symbol:hover {
    background-color: var(--primary-color);
    color: white;
}

section#content {
    padding: 20px;
}


section#content> * {
    margin-bottom: 20px;
    border-bottom: thin solid grey;
}

section#content>.slider>.images {
    display: flex;
    padding-bottom: 10px;
}

section.skeleton {
    height: 200px;
    width: 100%;
    background-image: var(--skeleton);
    background-size: 200%;
    background-repeat: no-repeat;
    animation-name: mySkeleton;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.slider>h2 {
    font-style: italic;
    margin-bottom: 10px;
}


.images>.item {
    width: 25%;
    aspect-ratio: 1/1;
    margin-right: 20px;
    position: relative;
    border: thin solid black;
    border-radius: 25px;
    
}

.images>.item {
    display: flex;
    flex-direction: column;
}

.images>.item>img {
    padding: 7px;
    flex: 1;
}

.images>.item >p{
    text-align: center;
    font-style: italic;
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


section.about{
    padding-bottom: 10px;
}
section.about>h2 {
    font-style: italic;
    margin-bottom: 10px;
}

section.about>section.content {
    display: flex;
    justify-content: center;
}

.about>.content>.item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about>.content>.item>img {
    width: 100%;
    height: 50%;
    box-shadow: 0px 0px 1px grey;
    border-radius: 25px;
}

.about>.content>.item>.info {
    height: 50%;
    background-image: url(../assets/main-image-blur.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.item>div>p {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 1px 3px grey;
    font-style: italic;
    background-color: rgba(255, 228, 196, 0.375);
    backdrop-filter: blur(20px);
    
}