section.cart{
    margin-top: 65px;
}
.cart > .item{
    display: flex;
    gap: 30px;
    border-bottom: thin solid grey;
    padding-top: 10px;
    padding-bottom: 10px;

}

.item > .description{
    border-radius: 25px;
    border:  thin solid grey;
    overflow: hidden;
    width: 200px;
    height: min-content;
    

}

.description > img{
    width: 100%;
}


.item > .description > p{
    background-color: transparent;
    user-select: text;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    color: black;
}


.item .options{
    display: flex;
    justify-content: center;
}

.options >  div.wrap-icon{
    flex: 1;
    display: flex;
    align-items: center;
}

div.wrap-icon{
    flex: 1;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

div.wrap-icon > span{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    box-shadow: -2px 2px 3px grey;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.more{
    border: thin solid var(--add-color);
}

span.less{
    border: thin solid var(--less-color);
}

span.trash{
    border: thin solid var(--delete-color);
}

span.more:hover{
    background-color: var(--add-color);
    border: thin solid black;
    color: white;
}

span.less:hover{
    background-color: var(--less-color);
    border: thin solid black;
    color: white;
}

span.trash:hover{
    background-color: var(--delete-color);
    border: thin solid black;
    color: var(--third-color);
    
}

.item > .price-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.price-info  h2{
    font-size: 1rem;
    font-style: italic;
}



.item > .confirmation-removal > h2.description{
    font-size: 0.6rem;
}

span.disabled{
    pointer-events: none;
    background-color: lightgrey;
    border: none;
}

.confirmation-removal{
    background-color: rgba(128, 128, 128, 0.824);
    border-radius: 20px;
    padding: 15px;
    color: white;
}

.yes-delete{
    padding: 5px;
    background-color: var(--delete-color);
    color: white;
    border-radius: 25px;
    margin-right: 10px;
}

.no-delete{
    padding: 5px;
    background-color: lightgray;
    color: white;
    border-radius: 25px;
}
