main >input{
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: var(--third-color);
    border-bottom: 2px solid var(--primary-color);
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
}

button.reset{
    padding: 2px 5px;
    border-radius: 25px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px
}

section.articles{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px
}

article{
    position: relative;
    min-width: 325px;
    max-width: 350px;
    flex:1;
    border-radius: 25px;
    box-shadow: 0px 2px 3px black;
    display: flex;
    flex-direction: column;
    max-height: 600px;
    
}

article > img{
    translate: -3.5% -4% ;
    width: 107%;
    aspect-ratio: 1/1.5;
    max-height: 300px;
}


article> section.info{
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
    color: var(--third-color);
    background-color: var(--primary-color);
    padding: 10px;
    border: thin solid var(--third-color);
}

section.info > h2{
    border: thin solid var(--third-color);
    border-radius: 25px;
}


section.info > h2.title{
    flex: 1;
    font-size: 1.1rem;
    max-height: 5.2rem;
    display: block;
    overflow-y: scroll;
    text-overflow: ellipsis;
    scrollbar-color: transparent transparent;
    font-style: italic;
    justify-content: center;
    padding: 10px;
    text-shadow: 0px 1px 1px var(--third-color);
}

section.info > h2.title:hover{
    scrollbar-color: var(--third-color) var(--primary-color) ;
    
}

section.info > h2.price{
    font-size: 1.5rem;
    text-align: right;
    font-style: italic;
    text-decoration: underline;
    width: fit-content;
    align-self: flex-end;
    padding: 3px 10px;
}

section.info > h2.category{
    align-self: flex-end;
    font-size: 0.6rem;
    width: fit-content;
    border: thin solid var(--third-color);
    border-radius: 25px;
    padding: 3px 5px;
}

article > section.info > section.actions{
    background-color: rgba(169, 169, 169, 0.334);
    width: 100%;
}

section.actions{
    padding: 15px;
    display: flex;
    justify-content: right;
    gap: 10px;
    background-color: var(--primary-color);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: thin solid var(--third-color)
    
}

section.actions .quantity{
    display: flex; 
}

.quantity .show-quant{
    background-color: var(--third-color);
    box-shadow: 0px 0px 3px grey inset;
    width: 100%;
    max-width: 80px;
    border-bottom:  black;  
}

.quantity button{
    width: 40px;
    border: none;  
}

.quantity button:hover{
    cursor: pointer;
}

.quantity button.more{
   color: var(--add-color);
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
}

.quantity button.less{
    color: var(--less-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}  

.quantity button.more:hover{
    background-color: var(--add-color);
    color: white;
}

.quantity button.less:hover{
    background-color: var(--less-color);
    color: white;
}  

.show-quant{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.actions > button.add-cart{
    font-size: 0.7rem;
    border-radius: 25px;
    padding: 5px 10px;
    border: none;
    background-color: var(--third-color);
}

section.actions > button.add-cart:hover{
    background-color: var(--second-color);
    color: var(--third-color);
    cursor: pointer;
}

section.actions input{
    padding-left: 5px;
}

section.skeleton{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

section.skeleton > article, input.skeleton{
    background-image: var(--skeleton);
    background-size: 200%;
    background-repeat: no-repeat;
    animation-name: mySkeleton;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: none;
}

section.skeleton > article{
    flex: 1;
    max-width: 250px;
    aspect-ratio: 1/1;
}









