*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
}

:root{
    --primary-color: #1d1716;
    --second-color: #d55b3e;
    --third-color: whitesmoke;
    --shadow: 1px 2px 0px var(--third-color);
}

html, body{
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

#root{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

main{
    padding: 20px;
    background-color: var(--third-color);
    flex: 1;
    box-shadow: 0px 0px 7px black inset;
    overflow-wrap: break-word;
}






